{% extends 'PublicBundle::layout.html.twig' %}

{% block content %}


      {% include ('PublicBundle:Modules:sectiontitle.module.html.twig') %}
      <!-- content begin -->
      <div id="content">
          <div class="container">
            {% include ('PublicBundle:Modules:contactus.module.html.twig') %}
            <div class="divider-line"></div>
            {% include ('PublicBundle:Modules:branch.module.html.twig') %}

          </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAayYsJatgBaRC2nKGuyknAMe1IVe0NZdQ"></script>
    <script src="/js/map.js"></script>
{% endblock %}
