
				<div id="transport" class="container clearfix">

					<div class="row topmargin-lg bottommargin-sm">

						<div class="heading-block center">
							<h2>{% trans %}_carrierinfo_title{% endtrans %}</h2>
							<span class="divcenter">{% trans %}_carrierinfo_subtitle{% endtrans %}</span>
						</div>

						<div class="col-md-4 col-sm-6 bottommargin">

							<div class="feature-box fbox-right topmargin" data-animate="fadeIn">
								<div class="fbox-icon">
									<a href="#"><i class="icon-line-heart"></i></a>
								</div>
								<h3>{% trans %}_carrierinfo_left1_title{% endtrans %}</h3>
								<p>{% trans %}_carrierinfo_left1_parragraph{% endtrans %}</p>
							</div>

							<div class="feature-box fbox-right topmargin" data-animate="fadeIn" data-delay="200">
								<div class="fbox-icon">
									<a href="#"><i class="icon-line-paper"></i></a>
								</div>
                <h3>{% trans %}_carrierinfo_left2_title{% endtrans %}</h3>
								<p>{% trans %}_carrierinfo_left2_parragraph{% endtrans %}</p>
							</div>

							<div class="feature-box fbox-right topmargin" data-animate="fadeIn" data-delay="400">
								<div class="fbox-icon">
									<a href="#"><i class="icon-line-layers"></i></a>
								</div>
                <h3>{% trans %}_carrierinfo_left3_title{% endtrans %}</h3>
								<p>{% trans %}_carrierinfo_left3_parragraph{% endtrans %}</p>
        			</div>

						</div>

						<div class="col-md-4 hidden-sm bottommargin center">
							<img src="/WebSiteBundle/images/services/iphone7.png" alt="iphone 2">
							<a href="#modal-login-form" data-lightbox="inline" class="button button-rounded button-reveal button-large topmargin-sm"><i class="icon-thumbs-up"></i><span>{% trans %}_carrierinfo_cta{% endtrans %}</span></a>
						</div>

						<div class="col-md-4 col-sm-6 bottommargin">

							<div class="feature-box topmargin" data-animate="fadeIn">
								<div class="fbox-icon">
									<a href="#"><i class="icon-line-power"></i></a>
								</div>
                <h3>{% trans %}_carrierinfo_right1_title{% endtrans %}</h3>
								<p>{% trans %}_carrierinfo_right1_parragraph{% endtrans %}</p>
              </div>

							<div class="feature-box topmargin" data-animate="fadeIn" data-delay="200">
								<div class="fbox-icon">
									<a href="#"><i class="icon-line-check"></i></a>
								</div>
                <h3>{% trans %}_carrierinfo_right2_title{% endtrans %}</h3>
								<p>{% trans %}_carrierinfo_right2_parragraph{% endtrans %}</p>
              </div>

							<div class="feature-box topmargin" data-animate="fadeIn" data-delay="400">
								<div class="fbox-icon">
									<a href="#"><i class="icon-bulb"></i></a>
								</div>
                <h3>{% trans %}_carrierinfo_right3_title{% endtrans %}</h3>
								<p>{% trans %}_carrierinfo_right3_parragraph{% endtrans %}</p>
              </div>

						</div>

					</div>

				</div>
