<div id="services" class="section nobottommargin">
  <div class="container clear-bottommargin clearfix">

    <div class="row topmargin-sm clearfix">

      <div class="col-md-6 bottommargin">
        <i class="i-plain color i-large icon-line2-screen-desktop inline-block" style="margin-bottom: 15px;"></i>
        <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
          <span class="before-heading">{% trans %} _services_1_totitle{% endtrans %}</span>
          <h4>{% trans %} _services_1_title{% endtrans %}</h4>
        </div>
        <p>
            {% trans %} _services_1_parragraph{% endtrans %}
        </p>
      </div>

      <div class="col-md-6 bottommargin">
        <i class="i-plain color i-large icon-line2-energy inline-block" style="margin-bottom: 15px;"></i>
        <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
          <span class="before-heading">{% trans %} _services_2_totitle{% endtrans %}</span>
          <h4>{% trans %} _services_2_title{% endtrans %}</h4>
        </div>
        <p>
            {% trans %} _services_2_parragraph{% endtrans %}
        </p>
      </div>

      <div class="col-md-6 bottommargin">
        <i class="i-plain color i-large icon-line2-equalizer inline-block" style="margin-bottom: 15px;"></i>
        <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
          <span class="before-heading">{% trans %} _services_3_totitle{% endtrans %}</span>
          <h4>{% trans %} _services_3_title{% endtrans %}</h4>
        </div>
        <p>
            {% trans %} _services_3_parragraph{% endtrans %}
        </p>
      </div>



      <div class="col-md-6 bottommargin">
        <i class="i-plain color i-large icon-line2-equalizer inline-block" style="margin-bottom: 15px;"></i>
        <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
          <span class="before-heading">{% trans %} _services_4_totitle{% endtrans %}</span>
          <h4>{% trans %} _services_4_title{% endtrans %}</h4>
        </div>
        <p>
            {% trans %} _services_4_parragraph{% endtrans %}
        </p>
      </div>
    </div>

    <a href="#modal-login-form2" data-lightbox="inline" class="button button-rounded button-reveal button-large button-dirtygreen"><i class="icon-map-marker2"></i><span>{% trans %}Empieza a formar antes de contratar{% endtrans %}</span></a>

  </div>
</div>
