<div id="knowmore" class="container clearfix topmargin-lg bottommargin-lg">
    <h3 class="center">{% trans %} _steps_title{% endtrans %}</h3>

    <div id="processTabs">
      <ul class="process-steps bottommargin clearfix">
        <li>
          <a href="#ptab1" class="i-circled i-bordered i-alt divcenter">1</a>
          <h5>{% trans %} _steps_1{% endtrans %}</h5>
        </li>
        <li>
          <a href="#ptab2" class="i-circled i-bordered i-alt divcenter">2</a>
          <h5>{% trans %} _steps_2{% endtrans %}</h5>
        </li>
        <li>
          <a href="#ptab3" class="i-circled i-bordered i-alt divcenter">3</a>
          <h5>{% trans %} _steps_3{% endtrans %}</h5>
        </li>
        <li>
          <a href="#ptab4" class="i-circled i-bordered i-alt divcenter">4</a>
          <h5>{% trans %} _steps_4{% endtrans %}
      </ul>
    </div>
</div>
