<div class="row">
    <div class="col-md-6">
        <img src="/img/pic-1.jpg" class="img-responsive" alt="">
        <div class="divider-single"></div>
        <h2>{% trans %}_aboutusinfo_title_left{% endtrans %}</h2>
        <div class="tiny-border"></div>
        <p>{% trans %}_aboutusinfo_parragraph_left{% endtrans %}</p>

    </div>
    <div class="col-md-6">
        <img src="/img/pic-2.jpg" class="img-responsive" alt="">
        <div class="divider-single"></div>
        <h2>{% trans %}_aboutusinfo_title_right{% endtrans %}</h2>
        <div class="tiny-border"></div>
        <p>{% trans %}_aboutusinfo_parragraph_right{% endtrans %}</p>
   </div>
</div>
