<!-- section begin -->

<section id="explore-1" class="side-bg light-text text-white">
          <div class="col-md-6 col-md-offset-6 pull-right image-container">
              <div class="background-image"></div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <div class="inner-padding">

                        <h2 class="wow fadeIn" data-wow-delay=".6s">{% trans %} _presentation_left_title{% endtrans %}</h2>
                        <ul class="wow fadeIn" data-wow-delay=".7s">
                            <li>{% trans %} _presentation_left_element1{% endtrans %}</li>
                            <li>{% trans %} _presentation_left_element2{% endtrans %}</li>
                            <li>{% trans %} _presentation_left_element3{% endtrans %}</li>
                            <li>{% trans %} _presentation_left_element4{% endtrans %}</li>
                            <li>{% trans %} _presentation_left_element5{% endtrans %}</li>
                            <li>{% trans %} _presentation_left_element6{% endtrans %}</li>
                        </ul>
                        <div class="divider-single"></div>
                        <a href="service-details-3.html" class="btn-border-light wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".3s">{% trans %} _presentation_left_button{% endtrans %}</a>


                      </div>

                  </div>

                  <div class="col-md-6">
                      <div class="inner-padding">

                        <h2 class="wow fadeIn" data-wow-delay=".6s">{% trans %} _presentation_right_title{% endtrans %}</h2>
                        <ul class="wow fadeIn" data-wow-delay=".7s">
                            <li>{% trans %} _presentation_right_element1{% endtrans %}</li>
                            <li>{% trans %} _presentation_right_element2{% endtrans %}</li>
                            <li>{% trans %} _presentation_right_element3{% endtrans %}</li>
                            <li>{% trans %} _presentation_right_element4{% endtrans %}</li>
                            <li>{% trans %} _presentation_right_element5{% endtrans %}</li>
                            <li>{% trans %} _presentation_right_element6{% endtrans %}</li>
                        </ul>
                        <div class="divider-single"></div>
                        <a href="service-details-3.html" class="btn-border-light wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".3s">{% trans %} _presentation_right_button{% endtrans %}</a>


                      </div>

                  </div>
              </div>
          </div>

          <div class="clearfix"></div>
      </section>
<!-- section close -->
