<!-- section begin -->
<section id="explore-2" class="side-bg light-text">
          <div class="col-md-5 col-md-offset-1 pull-left image-container">
              <div class="background-image"></div>
          </div>

          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-md-offset-5">
                      <div class="inner-padding">
                          <div id="testi-carousel" class="testi-slider wow fadeIn" data-wow-delay="0s" data-wow-duration="1s">
                              <div class="item">
                                  <blockquote>
                                      {% trans %} _reviews_first_comment{% endtrans %}
                                  </blockquote>
                                  <span class="testi-by">  {% trans %} _reviews_first_name{% endtrans %}</span>
                              </div>
                              <div class="item">
                                  <blockquote>
                                      {% trans %} _reviews_second_comment{% endtrans %}
                                  </blockquote>
                                  <span class="testi-by">  {% trans %} _reviews_second_name{% endtrans %}</span>
                              </div>
                              <div class="item">
                                  <blockquote>
                                      {% trans %} _reviews_third_comment{% endtrans %}
                                  </blockquote>
                                  <span class="testi-by">  {% trans %} _reviews_third_name{% endtrans %}</span>
                              </div>

                          </div>
                      </div>

                  </div>
              </div>
          </div>

          <div class="clearfix"></div>
      </section>
<!-- section close -->
