<!-- section begin -->
      <section id="section-services" >
          <div class="container">
              <div class="row">
                  <div class="text-center">
                      <h2 class="wow fadeInUp" data-wow-delay="0">{% trans %} _servicesinfo_title{% endtrans %}
                          <span>{% trans %} _servicesinfo_subtitle{% endtrans %}</span>
                      </h2>
                      <div class="small-border wow flipInY" data-wow-delay=".2s" data-wow-duration=".8s"></div>
                  </div>

                  <div class="divider-single"></div>
                  <div class="col-md-6 wow fadeInUp" data-wow-delay="0">
                      <div class="box-with-icon-left">
                          <i class="fa fa-send-o icon-big"></i>
                          <div class="text">
                              <h2>{% trans %} _servicesinfo_title_1{% endtrans %}</h2>
                              <p>{% trans %} _servicesinfo_parragraph_1{% endtrans %}</p>
                              <div class="divider-single"></div>
                              <a href="service-details-1.html" class="btn-text">{% trans %} _servicesinfo_button_1{% endtrans %}</a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6 wow fadeInUp" data-wow-delay="0">
                      <div class="box-with-icon-left">
                          <i class="fa fa-puzzle-piece icon-big"></i>
                          <div class="text">
                              <h2>{% trans %} _servicesinfo_title_2{% endtrans %}</h2>
                              <p>{% trans %} _servicesinfo_parragraph_2{% endtrans %}</p>
                              <div class="divider-single"></div>
                              <a href="service-details-1.html" class="btn-text">{% trans %} _servicesinfo_button_2{% endtrans %}</a>
                          </div>
                      </div>
                  </div>
                  <div class="divider-single"></div>

                  <div class="col-md-6 wow fadeInUp" data-wow-delay="0">
                      <div class="box-with-icon-left">
                          <i class="fa fa-truck icon-big"></i>
                          <div class="text">
                              <h2>{% trans %} _servicesinfo_title_3{% endtrans %}</h2>
                              <p>{% trans %} _servicesinfo_parragraph_3{% endtrans %}</p>
                              <div class="divider-single"></div>
                              <a href="service-details-1.html" class="btn-text">{% trans %} _servicesinfo_button_3{% endtrans %}</a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6 wow fadeInUp" data-wow-delay="0">
                      <div class="box-with-icon-left">
                          <i class="fa fa-truck icon-big"></i>
                          <div class="text">
                              <h2>{% trans %} _servicesinfo_title_4{% endtrans %}</h2>
                              <p>{% trans %} _servicesinfo_parragraph_4{% endtrans %}</p>
                              <div class="divider-single"></div>
                              <a href="service-details-1.html" class="btn-text">{% trans %} _servicesinfo_button_4{% endtrans %}</a>
                          </div>
                      </div>
                  </div>
                  <div class="divider-single"></div>


                  <div class="col-md-12 wow fadeInUp" data-wow-delay="0">
                      <div class="box-with-icon-left">
                          <i class="fa fa-truck icon-big"></i>
                          <div class="text">
                              <h2>{% trans %} _servicesinfo_title_5{% endtrans %}</h2>
                              <p>{% trans %} _servicesinfo_parragraph_5{% endtrans %}</p>
                              <div class="divider-single"></div>
                              <a href="service-details-1.html" class="btn-text">{% trans %} _servicesinfo_button_5{% endtrans %}</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
<!-- section close -->
