<div class="col-md-12 bg-grey" >
  <div class="divider-single"></div>

    <div class="text-center">
        <h2 class="wow fadeInUp" data-wow-delay="0">{% trans %}_steps_title{% endtrans %}</h2>
        <div class="small-border wow flipInY" data-wow-delay=".2s" data-wow-duration=".8s"></div>
    </div>

    <div class="divider-single"></div>


    <div class="col-md-3">
        <div class="steps">
            <h1><span class="circle wow fadeInUp">1</span></h1>
            <div class="text wow fadeInUp" data-wow-delay=".2s">
                <h3>{% trans %}_steps_1{% endtrans %}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="steps">
          <h1><span class="circle wow fadeInUp">2</span></h1>
            <div class="text wow fadeInUp" data-wow-delay=".4s">
                <h3>{% trans %}_steps_2{% endtrans %}</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="steps">
          <h1><span class="circle wow fadeInUp">3</span></h1>
            <div class="text wow fadeInUp" data-wow-delay=".6s">
                <h3>{% trans %}_steps_3{% endtrans %}</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="steps">
          <h1><span class="circle wow fadeInUp">4</span></h1>
            <div class="text wow fadeInUp" data-wow-delay=".8s">
                <h3>{% trans %}_steps_4{% endtrans %}</h3>
            </div>
        </div>
    </div>

    <div class="divider-single"></div>

</div>
