<section id="section-target" class="no-padding bg-blue">
  <div class="box-container">
          <div id="bg-service-7" class="box-one-third light-text">
              <div class="inner wow" data-wow-delay="0s">
                  <h2 class="wow fadeIn" data-wow-delay=".2s">{% trans %} _target_left_title{% endtrans %}
                    <span>{% trans %} _target_left_subtitle{% endtrans %}</span></h2>
                  <p class="wow fadeIn" data-wow-delay=".3s">{% trans %} _target_left_parragraph{% endtrans %}</p>
              </div>
          </div>

          <div id="bg-service-7" class="box-one-third light-text">
              <div class="inner">
                  <h2 class="wow fadeIn" data-wow-delay=".4s">{% trans %} _targuet_center_title{% endtrans %}
                    <span>{% trans %} _target_center_subtitle{% endtrans %}</span></h2>
                  <p class="wow fadeIn" data-wow-delay=".5s">{% trans %} _target_center_parragraph{% endtrans %}</p>
              </div>
          </div>

          <div id="bg-service-7" class="box-one-third light-text">
              <div class="inner">
                  <h2 class="wow fadeIn" data-wow-delay=".6s">{% trans %} _target_right_title{% endtrans %}
                    <span>{% trans %} _target_right_subtitle{% endtrans %}</span></h2>
                  <p class="wow fadeIn" data-wow-delay=".7s">{% trans %} _target_right_parragraph{% endtrans %}</p>
              </div>
          </div>
      </div>

      <div class="clearfix"></div>

</section>
