<!-- section begin -->
      <section id="section-intro" class="no-padding autoheight light-text let-it-snow" data-stellar-background-ratio="0.5">
          <div class="center-y">
              <div class="inner text-center">
                  <div class="sub-intro-text"><span class="text-white">{% trans %} _welcome_motto{% endtrans %}</span></div>
                  <div class="divider-double"></div>
                  <div class="type-wrap title big">
                      <div class="typed-strings">
                          <p>{% trans %} _welcome_typemessage_first{% endtrans %}</p>
                          <p>{% trans %} _welcome_typemessage_second{% endtrans %}</p>
                          <p>{% trans %} _welcome_typemessage_third{% endtrans %}</p>
                      </div>
                      <span class="typed"></span>
                  </div>

      <div class="divider-single"></div>

                  <div class="divider-double"></div>
              </div>
          </div>
      </section>
<!-- section close -->
