<!-- section begin -->
      <section id="section-services">
          <div class="container">
              <div class="row">

                  <div class="col-md-6 wow fadeInUp" data-wow-delay="0">
                      <div class="box-with-icon-left">
                          <i class="fa fa-send-o icon-big"></i>
                          <div class="text">
                              <h2>{% trans %}_workwithus_upleft_title{% endtrans %}</h2>
                              <p>{% trans %}_workwithus_upleft_parragraph{% endtrans %}</p>
                              <div class="divider-single"></div>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6 wow fadeInUp" data-wow-delay="0">
                      <div class="box-with-icon-left">
                          <i class="fa fa-puzzle-piece icon-big"></i>
                          <div class="text">
                            <h2>{% trans %}_workwithus_upright_title{% endtrans %}</h2>
                            <p>{% trans %}_workwithus_upright_parragraph{% endtrans %}</p>
                              <div class="divider-single"></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="divider-single"></div>

              <div class="row">

                  <div class="col-md-6 wow fadeInUp" data-wow-delay="0">
                      <div class="box-with-icon-left">
                          <i class="fa fa-truck icon-big"></i>
                          <div class="text">
                            <h2>{% trans %}_workwithus_downleft_title{% endtrans %}</h2>
                            <p>{% trans %}_workwithus_downleft_parragraph{% endtrans %}</p>
                            <div class="divider-single"></div>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6 wow fadeInUp" data-wow-delay="0">
                      <div class="box-with-icon-left">
                          <i class="fa fa-truck icon-big"></i>
                          <div class="text">
                            <h2>{% trans %}_workwithus_downright_title{% endtrans %}</h2>
                            <p>{% trans %} _workwithus_downright_parragraph{% endtrans %}</p>

                            <a href="{{ path('public_default_comingsoon') }}"><img src="/img/badges/google-play-badge.{{ app.request.locale }}.png" /></a>

                            <div class="divider-single"></div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </section>
<!-- section close -->
